@charset "UTF-8";
@use "sass:math";

$flex-modifies: (
    "flex": ("start", "end"),
    "default": ("normal", "center", "stretch"),
    "space": ("between", "around", "evenly"),
    "wrap": ("nowrap", "wrap", "wrap-reverse")
);



@mixin flex($dir: 'col', $grow: null, $flex-position: null) {
    display: flex;    
    @if $dir == 'col' {
        flex-direction: column;
    } @else {
        flex-direction: row;
    }    

    @if $flex-position {
        $flex-positions: ("justify": justify-content,
                          "align": "align-items",
                          "wrap": flex-wrap);

        @each $key, $val in $flex-position {
            #{map-get($flex-positions, $key)}: $val;
        }
    }

    @if $grow {
        @each $sel, $val in $grow {
            #{selector-nest($sel, "&")} {
                flex-grow: $val;
            }
        }
    }
}

@mixin justify($val) {
    justify-content: $val;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex {
    display: flex;
}

@mixin flex-bem {
    @each $key, $mods in $flex-modifies {
        @each $val in $mods {
            @if $key == "default" {
                .flex__#{$val}, %flex__#{$val} {
                    display: flex;
                    justify-content: #{$val};
                }
            } @else if $key == "wrap" {
                .flex-#{$val}, %flex-#{$val} {
                    display: flex;
                    flex-wrap: #{$val};
                }
            } @else {
                .flex__#{$val}, %flex__#{$val} {
                    display: flex;
                    justify-content: #{$key}-#{$val};
                }
            }
        }
    }
}
