@charset "UTF-8";
@use "sass:list";
@use "sass:map";
@use "../variables";
@use "../functions/size";

@mixin -box-sizing($property, $key, $dir: false) {
    $size: #{size.get-size($key)};

    @if not $dir {
        #{$property}: $size;
    } @else if map.has-key(variables.$vs-margins, $dir) {
        @each $mar in map.get(variables.$vs-margins, $dir) {
            #{$property}-#{$mar}: $size;
        }
    }
}

@mixin m-($key, $dir: false) {
    @include -box-sizing('margin', $key, $dir);
}

@mixin p-($key, $dir: false) {
    @include -box-sizing('padding', $key, $dir);
}

@mixin -directional-($property, $args...) {
    @if list.length($args) == 1 {
        @if $property == 'margin' {
            @include m-(list.nth($args, 1));
        } @else if $property == 'padding' {
            @include p-(list.nth($args, 1));
        }
    } @else if list.length($args) == 2 {
        #{$property}: size.get-size(list.nth($args, 1)) size.get-size(list.nth($args, 2));
    } @else if list.length($args) == 3 {
        #{$property}: size.get-size(list.nth($args, 1))
                      size.get-size(list.nth($args, 2))
                      size.get-size(list.nth($args, 3))
                      size.get-size(list.nth($args, 2));
    } @else if list.length($args) == 4 {
        #{$property}: size.get-size(list.nth($args, 1))
                      size.get-size(list.nth($args, 2))
                      size.get-size(list.nth($args, 3))
                      size.get-size(list.nth($args, 4));
    } @else {
        @error "The number of arguments for the mixin `#{if($property == 'margin', 'm-d-', 'p-d-')}` should be between 1 and 4.";
    }
}

@mixin m-d-($args...) {
    @include -directional-('margin', $args...);
}

@mixin p-d-($args...) {
    @include -directional-('padding', $args...);
}

@mixin gap($key, $dir: false) {
    @if $dir == 'x' {
        column-gap: size.get-size($key);
    } @else if $dir == 'y' {
        row-gap: size.get-size($key);
    } @else if not $dir {
        gap: size.get-size($key);
    }
}

@mixin gap-bem {
    @for $i from 1 to 13 {
        @each $val in ('x', 'y', false) {
            $class: if($val, '-#{$val}', '');
            .gap#{$class}-#{$i} {
                @include gap($key: $i, $dir: $val);
            }
        }
    }
}

@mixin margin-bem {
    $dirs: ('x': 'lr', 'y': 'tb');

    @for $i from 1 to 13 {
        @each $key, $val in $dirs {
            .m-#{$key}-#{$i} {
                @include m-($i, $val);
            }
        }

        @each $key in ('l', 'r', 't', 'b') {
            .m-#{$key}-#{$i} {
                @include m-($i, $key);
            }
        }

        .m-auto {
            margin: auto;
        }
    }
}
