@use "sass:color";
@use "../abstracts/functions/colors";
@use "../abstracts/functions/shadow";
@use "../abstracts/mixin";

@mixin card($color: null, $rounded: false, $shadow_intensity: 5, $distance: 2) {
    overflow: hidden;

    @if $rounded {
        @include mixin.br-rounded($rounded);
    }

    @include shadow($shadow_intensity, $color, $distance);

    @if $color {
        background-color: #{$color};
    }

    @include mixin.p-(4);
}

@mixin shadow($intensity: 5, $bg: false, $distance: 1, $inset: false) {
    @if not $bg {
        $bg: colors.color("background", '500', false);
    }

    @if $inset {
        $inset: "inset";
    } @else {
        $inset: "";
    }

    $lighten: color.adjust($bg, $lightness:  ($intensity * 1%));
    $darken: color.adjust($bg, $lightness: $intensity * -1%);

    box-shadow: #{$inset} $distance * 1px $distance * 1px $distance * 2px $darken,
                #{$inset} $distance * -1px $distance * -1px $distance * 1px $lighten;
}
