@use "sass:math";
@use "sass:selector";
@use "../abstracts/mixin";
@use "../abstracts/functions/size";

@mixin menu-buttom($size, $color, $shadow-color, $content_selector, $active_selector:".open") {
    position: relative;

    @include mixin.w-($size);
    @include mixin.h-($size);
    @include mixin.pcs-focus;

    span {
        @include mixin.w-('4/5');
        @include mixin.h-(0.5);

        background-color: $color;
        display: block;
        transform-origin: center;

        @include mixin.pos-absolute($top: 50%, $left: 10%);
        @include mixin.tr-transition(
            $pairs: (transform: scale(0.95), box-shadow: #{box-shadow($shadow-color, 2)}, opacity: 0),
            $duration: 0.25s,
            $event: null
        );
        &:nth-of-type(1) {transform: translateY(-#{size.get-size(1.5)});}
        &:nth-of-type(2) {transform: scaleX(0.8);}
        &:nth-of-type(3) {transform: translateY(#{size.get-size(1.5)});}
        
    }

    @at-root {
      #{selector.append($content_selector, $active_selector)} span {
        &:nth-of-type(1) {transform: rotateZ(45deg);}
        &:nth-of-type(2) {opacity: 0}
        &:nth-of-type(3) {transform: rotateZ(-45deg);}
    }
    }
}


@mixin menu-content($active_selector:".open", $content_selector: ".menu") {
    $sel: selector.append(&, $active_selector);
    #{$content_selector} {
        @include mixin.tr-transition(
            $pairs: (max-height: revert, height: auto, padding: 0),
            $duration: 0.5s,
            $event:null);

        max-height: 0;
        overflow: hidden;
    }

    @at-root {
        #{selector-nest($sel, $content_selector)} {
            visibility: visible;
            max-height: 500px;
        }
    }
}

@mixin menu-item($active_selector, $content_selector) {
    $sel: selector.append(&, $active_selector);
    #{$content_selector} {
        @include mixin.tr-transition(
            $pairs: (max-height: revert, height: auto, padding: 0),
            $duration: 0.5s,
            $event:null);

        max-height: 0;
        overflow: hidden;
    }

    @at-root {
        #{selector-nest($sel, $content_selector)} {
            visibility: visible;
            max-height: 500px;
        }
    }
}
