.header {
    @include flex-col;
    @include lib.m-(1, 't');
    @include lib.p-(2, 'lr');
    &_profile {
        @include lib.rounded-full;
        @include aspect-square;
        /*@include lib.w-('full');
        --origin-size: 100%;
        --final-size: #{lib.get-size(4)};
        */
        @include lib.w-(4);
        
    }
    &_name {
        @include lib.font-size(10, 1);
        @include lib.font-slab(900);
        color: var(--main-color);
    }
    &_tagline {
        @include lib.font-size(3);
        color: var(--secondary-color);
    }
}
