@charset "UTF-8";
@use "sass:map";
@use "sass:list";
@use "sass:color";
@use "../abstracts/mixin";
@use "../abstracts/functions/colors";
@use "../abstracts/functions/shadow";
@use "../components/cards";

$-box-shadow-color: color.adjust(colors.color('background', '900', false), $lightness: -10%);

@mixin sticky-content($shadow: "inset") {
    @include mixin.grid($eqcols: 1);
    @include mixin.br-rounded(sm);
    @include mixin.m-(8, 't');
    @include mixin.p-(4);
    @include mixin.w-(full);
    @include mixin.gap(4);
    @include cards.shadow($intensity: 10, $bg: colors.color("background", "100", false), $distance: 4, $inset: true);

    @include mixin.media-sm {@include mixin.grid($eqcols: 2);}

    @include mixin.media-lg {@include mixin.grid($eqcols: 3);}

}

@mixin sticky {
    position: relative;
    background-color: colors.color(background);
    box-shadow: #{shadow.box-shadow($-box-shadow-color, 2)};
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 125px 10px;

    $colors: (
// TODO: ADD more colors
        "haskell": (#daf7a1, #ff7792),
        "web": (#f0939d, #00c87a),
        "emacs": (#7afcff, #ff7792),
//        "linux":  (#feff9c, ),
        "default": (#fff9b1, #00c87a)
    );
    $bg-color: list.nth(map.get($colors, default), 1);
    $mark-color1: list.nth(map.get($colors, default), 2); 
    $mark-color2: color.adjust($bg-color, $lightness: -7%);

    --bg-color: #{$bg-color};
    --bg-lighten: #{color.adjust($bg-color, $lightness: 7%)};
    
    @each $key, $color in $colors {
        &.#{$key} {
            $bg-color: list.nth($color, 1);
            $mark-color1: list.nth($color, 2);

            --bg-color: #{$bg-color};
            --bg-lighten: #{color.adjust($bg-color, $lightness: 7%)};

            .mark::before {
                background-image: linear-gradient(
                    104deg,
                    rgba($mark-color1, 1) 0.9%,
                    rgba($mark-color1, 0.4) 2.4%,
                    rgba($mark-color1, 1) 5%,
                    rgba($mark-color1, 0.75) 5.8%,
                    rgba($mark-color1, 0.3) 85%,
                    rgba($mark-color1, 0.5) 96%,
                    rgba($mark-color1, 0.0) 98%
                ), linear-gradient(
                                      183deg,
                                      rgba($mark-color2, 0) 0%,
                                      rgba($mark-color2, 0.3) 8%,
                                      rgba($mark-color2, 0.0) 15%);
            }
        }
        
    }
    
    &-content {
        @include mixin.p-(4);
        @include mixin.min-h-(fit);
        @include mixin.min-w-(fit);
        @include mixin.h-(full);
        
        background-image: linear-gradient(
            135deg, var(--bg-color) 85%,
            var(--bg-lighten) 90%,
            var(--bg-color));
        z-index: 100;
        position:relative;
        box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 30%);
        overflow: hidden;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 125px 10px;

        @include mixin.pcs-before {
            z-index: 102;
            width: 32px;
            height: 40px;

            @include mixin.pos-absolute($left: -10px, $bottom: -15px);

            background-color: var(--bg-color);
            box-shadow:
                3px -2px 10px rgb(0 0 0 / 30%),
                inset 15px -15px 15px rgb(255 255 255 / 30%);
            transform: skew(-25deg);
        }

        time {
            @include mixin.w-(full);

            font-size: 0.75rem;
        }

        h4 {
            @include mixin.font-size('2xl');
            @include mixin.w-(full);

            font-family: "Permanent Marker", sans-serif;

            a {
                color: black;
            }
        }

        p {
            font-style: italic;
        }

        .mark {
            @include mixin.p-d-(1, 4);
            @include mixin.flex(col, null, ("justify": center, "align": center));

            // border: 1px solid;
            display: inline-flex;
            position: relative;

            @include mixin.pcs-before {
                z-index: 0;

                @include mixin.br-rounded(xl);

                transform: skewX(-30deg);
                 background-image: linear-gradient(
                    104deg,
                    rgba($mark-color1, 1) 0.9%,
                    rgba($mark-color1, 0.4) 2.4%,
                    rgba($mark-color1, 1) 5%,
                    rgba($mark-color1, 0.75) 5.8%,
                    rgba($mark-color1, 0.1) 85%,
                    rgba($mark-color1, 0.5) 96%,
                    rgba($mark-color1, 0.0) 98%
                ), linear-gradient(
                                      183deg,
                                      rgba($mark-color2, 0) 0%,
                                      rgba($mark-color2, 0.3) 8%,
                                      rgba($mark-color2, 0.0) 15%);

                @include mixin.w-(full);
                @include mixin.h-(full);
                @include mixin.pos-absolute($left: 0);

                box-decoration-break: clone;

                @include mixin.media-lg {
                    @include mixin.w-(0);
                    @include mixin.tr-transition((width: 100%), $event: null);
                }

            }

            @include mixin.pcs-hover {
                &::before {
                    width: 100%;
                }
            }

            a {
                @include mixin.font-size('xl');                    

                color: black;                    
                position:relative;
            }
        }

        &--wrap {
            @include mixin.flex(col, null, ("align": center));
            @include mixin.gap(2);
        }
    }
}

