@charset "UTF-8";
@use "sass:map";
@use "../abstracts/functions/colors";
@use "../abstracts/mixin";
@use "../abstracts/variables/media";
@use "../abstracts/functions/strings" as str;

.body {
    background-color: colors.color("background");

    @include mixin.flex(col);

    @include mixin.media-lg {
        @include mixin.max-w-('lg');
        @include mixin.w-('9/10');
        @include mixin.m-(auto);
        @include mixin.p-(0);
        @include mixin.grid($rows: 3, $eqcols: 8);

        grid-template-areas: str.repeat("nav", 8)
                             str.repeat("header", 8)
                             str.repeat("body", 8);

        @include mixin.gap(4)
    }

    @include mixin.media-xxl {
        max-width: min(
                map.get(media.$screens, 'xl'),
                map.get(media.$screens, 'lg'));
    }
}
