@charset "UTF-8";
@use "../abstracts/mixin";
@use "../abstracts/variables" as *;

.wrap {
    @include mixin.m-(6, 't');

    @include mixin.media-max-lg {
        @include mixin.w-('4/5');
        @include mixin.m-d-(4, auto);
    }

    @include mixin.media-lg {
        grid-area: body;

        @include mixin.max-w-('lg');
        @include mixin.m-d-(0, auto);
    }

    @include mixin.media-xxl {
      display: grid;

      &.authors {
          @include mixin.reset(max-width);
          @include mixin.p-d-(0, 32, 6);
          @include mixin.subgrid(col);

          .content {
              @include mixin.grid-col($span: 4);
              @include mixin.reset(padding);
          }

      }
    }

    &.listpage {
        &>p {
            @include mixin.font-size(xl);
            
            font-weight: 900;
        }
    }
}
