* {
    margin: 0;
    padding: 0;
    object-fit: cover;
    box-sizing: border-box;
}

img, figure, video, object, svg {
    width: 100%;
    height: auto;
}

body {
    font-family: sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}
