@use "../abstracts/functions/colors";
@use "../abstracts/mixin";
@use "../abstracts/variables";
* {
    margin: 0;
    padding: 0;
    object-fit: cover;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: variables.$vf-sans;
}


h1 {
    color: colors.color(secondary);

    @include mixin.font-size(6);
}


h2 {
    color: colors.color(primary);

    @include mixin.font-size('2xl');
}

img, figure, video, object, svg {
    width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    @include mixin.m-d-(4, 0);

    text-wrap: balance;
}
