@use "sass:math";
@use "sass:color";
@use "../components/cards";
@use "../abstracts/mixin";
@use "../components/stickers";
@use "../components/buttons";
@use "../abstracts/functions/colors";
@use "../abstracts/functions/shadow";
@use "../abstracts/functions/strings" as str;

.posts {
    @include mixin.p-(4, 'b');
    @include mixin.w-('4/5');

    .cards {
        /*
        box-shadow: shadow.box-shadow-generator(
            $color: colors.color(background, "300", false),
            $levels: 1,
            $mode: "",
            $offset-x-inc: 0,
            $offset-y-inc: 2px,
            $blur: 1px,
            $spread-radius: 3px,
            $div_value: 0.125);
        @include mixin.grid($eqcols: 1);
        @include mixin.m-(8, 't');
        @include mixin.p-(4);
        @include mixin.w-(full);
        @include mixin.gap(4);

        @include mixin.media-sm {
            @include mixin.grid($eqcols: 2);
        }
        */
        @include stickers.sticky-content;

        @include mixin.media-lg {
            @for $i from 0 to 4 {
                $j: $i;

                @if $i == 0 {
                    $j: 4;
                } @else if $i == 1 {
                    $j: 2;
                }
                &[data-items="#{$i}"] {
                    @include mixin.grid($eqcols: $j);
                }
            }
        }

        .card {
            @include stickers.sticky;

            &-content {
                @include mixin.h-(full);
                @include mixin.flex(col, $grow: (".description": 1));

                .meta {
                    @include mixin.font-size(xs);
                }

                .post-title {
                    @include mixin.font-size('xl');
                    @include mixin.m-(2, 'tb');
                }

                .mark {
                    @include mixin.w-(fit);

                    align-self: center;
                }
                
            }
        }
    }

    &.single {
        display: block;
        @include mixin.flex($dir: row, $flex-position: ("wrap": wrap));
        @include mixin.w-(full);
        @include mixin.reset(max-width);

        @include mixin.gap(10, 'x');
        h1, .meta {
            @include mixin.max-w-('2xl');
            @include mixin.w-('4/5');
            @include mixin.m-d-(0, auto);
        }
        .meta {
            color: colors.color(background, 800);
            @include mixin.font-size('sm');
        }
        .content {
            @include mixin.max-w-('2xl');
            @include mixin.w-('7/10');
            @include mixin.p-(0);

            margin-left: 10%;
            img {
                @include mixin.w-('1/2');
                @include mixin.m-d-(0 auto);
                display: block;
            }
        }
        .toc {
            @include mixin.media-max-xxl {display: none;}
            flex-grow: 1;
            max-width: 20%;
            &-wrap {
              @include cards.shadow(2);
              @include mixin.p-d-(4);
              position: sticky;
              top: 5%;
              h5 {
                  position: relative;
                  @include mixin.p-d-(0);
                  @include mixin.m-d-(2, auto);
                  @include mixin.w-(fit);
                  @include mixin.pcs-after {
                      @include mixin.pos-absolute($bottom: 0, $left: 10%);
                      background-color: #7a7a7a;
                      @include mixin.w-('4/5');
                      @include mixin.h-(0.5);
                  }
              }
              #TableOfContents {
                  &>ul {
                      @include mixin.font-size(sm);
                      li>ul {
                          @include mixin.font-size(xs);
                      }
                  }
                  ul {
                      @include mixin.m-(2, 'l');
                      @include mixin.m-(2, 'b');
                      li {
                          @include mixin.m-(1, 'b');
                          &.active {
                              &>a{
                                  color: colors.color(background, 50);
                                  &::after {
                                      transform: scaleY(1);
                                  }
                              }

                          }
                          a {
                              display: block;
                              position: relative;
                              @include mixin.p-(2, 'l');
                              @include mixin.pcs-after {
                                  @include mixin.pos-absolute($left: 0, $top: 0);
                                  @include mixin.w-(full);
                                  @include mixin.h-(full);
                                  transform: scaleY(0);
                                  transform-origin: 0 0;
                                  background-color: colors.color(primary, 500);
                                  transition-property: transform;
                                  transition-duration: .25s;
                                  transition-timing-function: ease-in-out;
                                  z-index: -1;
                              }
                          }
                          &.bottom>a::after{transform-origin: 0 100%;}
                          &.up>a::after {transform-origin: 0 0;}
                      }
                  }
              }
            }
            nav {
                li {
                    list-style: none;
                }
            }
        }
    }
}
