@charset "UTF-8";
@use "../abstracts/mixin";
@use "../abstracts/functions/colors";
@use "../abstracts/functions/shadow";

/* base/projects starts here */
.projects {
    @include mixin.p-(4, 'b');
    @include mixin.font-size('xl');

    li {
        @include mixin.m-d-(2, 4, 2, 0);

        list-style: none;
    }

    &>h1 {
        @include mixin.m-(4, 'b');
    }

    strong {
        color: colors.color(primary, 500);
    }

    .budgets>ul {
        @include mixin.m-(8, 'tb');
        @include mixin.flex(row);
        @include mixin.gap(2);

        li {
            list-style: none;
        }
    }

    a {
        color: colors.color(secondary);
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }

    &-list {
        @include mixin.grid($eqcols: 1);
        @include mixin.br-rounded(sm);
        @include mixin.m-(8, 't');
        @include mixin.p-(4);
        @include mixin.w-(full);
        @include mixin.gap(4);

        box-shadow: shadow.box-shadow-generator(
            $color: colors.color(background, "300", false),
            $levels: 5,
            $mode: "inset",
            $offset-x-inc: 0,
            $offset-y-inc: 2px,
            $blur: 1px,
            $spread-radius: 2px,
            $div_value: 0.125);

        @include mixin.media-sm {@include mixin.grid($eqcols: 2);}

        @include mixin.media-lg {@include mixin.grid($eqcols: 3);}
        
    }

    .image_gallery {
        @include mixin.m-(4, 't');
        @include mixin.grid($cols: 1);
        @include mixin.gap(2);

        @include mixin.media-md {
            @include mixin.grid($cols: 2);
        }

        @include mixin.media-xxl {
            @include mixin.grid($cols: 3);
        }

        &__item {
            @include mixin.m-(auto);

            overflow-y: auto;
            aspect-ratio: 16/9;
            cursor: pointer;
        }
    }
}



