@use "values" as val;
$border_radius: (
    none: 0px,
    sm: 0.125rem,
    default: 0.25rem,
    md: 0.375rem,
    lg: 0.5rem,
    xl: 0.75rem,
    '2xl': 1rem,
    '3xl': 1.5rem,
    full: 100%
);

@mixin __rounded($key) {
        border-radius: #{map-get($border_radius, $key)};
}

@mixin rounded-full {
    @include __rounded(full);
}

@mixin rounded($val) {
    @if map-has-key($border_radius, $val) {
        @include __rounded($val);
    } @else {
        border-radius: $val * val.$base;
    }
}
