@use "sass:math";
@use "sass:map";
@use "sass:string";
@use "values" as vals;

$screens: (
    'sm': 640px,
    'md': 768px,
    'lg': 1024px,
    'xl': 60rem,
    '2xl': 1536px
);
$width: (
    'full': '100%',
    'screen': '100vw',
    'svw': '100svw',
    'lvw': '100lvw',
    'dvw': '100dvw',
    'min': 'min-content',
    'max': 'max-content',
    'fit': 'fit-content',
    'auto': 'auto'
);
$height: (
    'full': '100%',
    'screen': '100vh',
    'svh': '100svh',
    'lvh': '100lvh',
    'dvh': '100dvh',
    'min': 'min-content',
    'max': 'max-content',
    'fit': 'fit-content',
);

@for $i from 1 to 11 {
    @for $j from $i to 11 {
        $width: map.merge($width, (#{$i}/#{$j}: math.div($i, $j) * 100%));
        $height: map.merge($height, (#{$i}/#{$j}: math.div($i, $j) * 100%));
    }
}

@each $key, $value in $screens {
    %w-#{$key} {
        width: $value;
    }
}

@mixin -size($key, $property) {
    #{$property}: -size($key, $property);
}

@function -size($key, $property) {
    @if map.has-key($screens, $key) {
        @return #{map.get($screens, $key)};
    } @else if string.index($property, "height") and map.has-key($height, $key) {
        @return #{map.get($height, $key)};
    } @else if string.index($property, "width") and map.has-key($width, $key) {
        @return #{map.get($width, $key)};
    } @else {
        @return $key * vals.$base;
    }
}

@mixin h-($size) {@include -size($size, 'height');}

@mixin min-h-($size) {@include -size($size, 'min-height');}

@mixin max-h-($size) {@include -size($size, 'max-height');}

@mixin w-($size) {@include -size($size, 'width');}

@mixin min-w-($size) {@include -size($size, 'min-width');}

@mixin max-w-($size) {@include -size($size, 'max-width');}

@function -w($size) {
    @return -size($size, "width");
}

@mixin w-clamp($min, $def, $max) {
    @include min-w-($min);
    @include max-w-($max);
    @include w-($def);
}


@mixin breakpoint($min, $max: null) {
    @if $min and not $max {
        @if map.has-key($screens, $min) {
            @media (min-width: #{map.get($screens, $min)}) {
                @content;
            }
        } @else {
            @error "min key: #{$min} is not valid screen size";
        }
    } @else if not $min and $max {
        @if map.has-key($screens, $max) {
            @media (max-width: #{map.get($screens, $max)}) {
                @content;
            }
        } @else {
            @error "max key: #{$max} is not valid screen size";
        }
    } @else {
        @if map.has-key($screens, $min) and map.has-key($screens, $max) {
            @media (min-width: #{map.get($screens, $min)}) and (max-width: #{map.get($screens, $max)}) {
                @content;
            }
        } @else {
            @error "Min key #{$min} or max key: #{$max} are not valid screen size";
        }

    }
}

@mixin sm {@include breakpoint(sm){@content;}}

@mixin md {@include breakpoint(md){@content;}}

@mixin lg {@include breakpoint(lg){@content;}}

@mixin xl {@include breakpoint(xl){@content;}}

@mixin xxl {@include breakpoint('2xl'){@content;}}


@mixin sm-md {@include breakpoint(sm, md) {@content;}}

@mixin md-lg {@include breakpoint(md, lg) {@content;}}

@mixin lg-xl {@include breakpoint(lg, xl) {@content;}}

@mixin xl-xxl {@include breakpoint(xl, 2xl) {@content;}}


@mixin max-sm{@include breakpoint(null, sm){@content;}}

@mixin max-md{@include breakpoint(null, md){@content;}}

@mixin max-lg{@include breakpoint(null, lg){@content;}}

@mixin max-xl{@include breakpoint(null, xl){@content;}}

@mixin max-xxl{@include breakpoint(null, xxl){@content;}}
