/* max width */
$inc: 1.618rem;
$base: 0;

@function get-size($i, $step: 1) {
  @return ($i * $inc * $step) + $base;
}



$margins: (
    'tb': ('top', 'bottom'),
    'lr': ('left', 'right'),
    't': ('top'),
    'b': ('bottom'),
    'l': ('left'),
    'r': ('right')
);

@mixin __box_sizing($property, $key, $dir: false, $step) {
      @if not $dir {
          #{$property}: get-size($key);
      }
      @else if  map-has-key($margins, $dir) {
          @each $mar in map-get($margins, $dir) {
              #{$property}-#{$mar}: #{get-size($key, $step)};
          }
      }
}


@mixin m-($key, $dir: false, $step: 1) {
    @include __box_sizing(margin, $key, $dir, $step);
}

@mixin p-($key, $dir: false, $step: 1) {
    @include __box_sizing('padding', $key, $dir, $step);
}

@mixin square($size) {
    aspect-ratio: 1/1;
    width: $size;
    height: $size;
}
