// $inc: 1.618rem;
// $base: 0;
//@function get-size($i, $step: 1) {
//  @return ($i * $inc * $step) + $base;
//}

$base: 0.25rem!default;

$margins: (
    'tb': ('top', 'bottom'),
    'lr': ('left', 'right'),
    't': ('top'),
    'b': ('bottom'),
    'l': ('left'),
    'r': ('right')
);

@mixin __box_sizing($property, $key, $dir: false) {
    $size: #{get-size($key)};
      @if not $dir {
          #{$property}: $size;
      }
      @else if map-has-key($margins, $dir) {
          @each $mar in map-get($margins, $dir) {
              #{$property}-#{$mar}: $size;
          }
      }
}

@function get-size($key) {
    $size: if(type-of($key) != 'number', $key, $key*$base);
    @return $size;
}

@mixin m-($key, $dir: false) {
    @include __box_sizing('margin', $key, $dir);
}

@mixin p-($key, $dir: false) {
    @include __box_sizing('padding', $key, $dir);
}

@mixin __directional-($property, $args...) {
    @if length($args) == 1 {
        @if $property == 'margin' {
            @include m-(nth($args, 1));
        } @else if $property == 'padding' {
            @include p-(nth($args, 1));
        }
    } @else if length($args) == 2 {
        #{$property}: get-size(nth($args, 1)) get-size(nth($args, 2));
    } @else if length($args) == 3 {
        #{$property}: get-size(nth($args, 1))
                      get-size(nth($args, 2))
                      get-size(nth($args, 3))
                      get-size(nth($args, 2));
    } @else if length($args) == 4 {
        #{$property}: get-size(nth($args, 1))
                      get-size(nth($args, 2))
                      get-size(nth($args, 3))
                      get-size(nth($args, 4));
    } @else {
        @error "The number of arguments for the mixin `#{if($property == 'margin', 'm-d-', 'p-d-')}` should be between 1 and 4.";
    }
}

@mixin m-d-($args...) {
    @include __directional-('margin', $args...);
}

@mixin p-d-($args...) {
    @include __directional-('padding', $args...);
}



@mixin gap($key) {
    gap: get-size($key);
}

@mixin square($size) {
    aspect-ratio: 1/1;
    width: $size;
    height: $size;
}
