{{ define "main" }}
{{ partial "header.html" . }}
  <main class="wrap authors">
{{ $sections := split .Content "<h2" }}
    {{ range $index, $p := $sections }}
      {{ $pp := trim $p " \n" }}
      {{ if and (ne $pp "") (gt $index 0) }}
        <section class="content">

          {{ $articles := split $pp "<h3" }}
          {{ range $j, $a := $articles }}
            {{ $aa := trim $a " \n" }}
            {{ if and (ne $aa "") (gt $j 0) }}
              {{ printf "<h3 %s" $aa | safeHTML }}
            {{ end }}

          {{ end }}
        </section>
      {{ end }}
    {{end}}

  </main>
{{ end }}


