{{ $data := or (index .Site.Data .Site.Language.Lang).content .Site.Data.content }}
<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
<body class="body">

  {{ partial "header.html" $data }}

<main class="wrap">
{{ $sections := split .Content "<h2" }}

{{ range $index, $p := $sections }}
    {{ $pp := trim $p " \n" }}
    {{ if (eq $index 0) }}
    <section class="summary">
        {{ printf "%s\n" $pp | safeHTML }}
    </section>
    {{ end }}
    {{ if and (ne $pp "") (gt $index 0) }}
    <section class="content">

        {{ $articles := split $pp "<h3" }}
        {{ range $j, $a := $articles }}
          {{ $aa := trim $a " \n" }}
          {{ if and (ne $aa "") (gt $j 0) }}
            {{ printf "<h3 %s" $aa | safeHTML }}
          {{ end }}

        {{ end }}
    </section>
    {{ end }}
{{end}}

</main>

</body>
</html>
