{{ $style := resources.Get "css/main.css" }}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{ .Site.Title }} </title>

 <link rel="canonical" href="{{ .Permalink }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{{ with resources.Get "css/main.css"  | postCSS }}
 <link rel="stylesheet" href=" {{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" media="screen,print">
{{ end }}
{{ with resources.Get "css/syntax.css" | postCSS }}
 <link rel="stylesheet" href="{{.RelPermalink}}" type="text/css" media="screen" />
{{ end }}
 {{ if (gt .Params.Author 0) }}
 {{ range .Params.Author }}
  <meta name="author" content="{{ . }}">
 {{ end }}
  {{ end }}
</head>

