<nav class="navbar">
  <a href="{{ .Site.Home.Permalink }}" class="logo" aria-label="Go to home page">
    <i class="fa fa-home"></i>
  </a>
  <div class="menu">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="navigation">
{{ $currentPage := . }}
  {{ range .Site.Menus.main }}
    <li class="navigation-item {{if or ($currentPage.IsMenuCurrent .Menu .) ($currentPage.HasMenuCurrent .Menu .)}} is-active{{ end }}">
      <a class="navigation-link {{ .Params.class }}" href="{{ .URL }}"> {{ .Name }} </a>
    </li>
  {{ end }}
</ul>
</nav>
