@charset "UTF-8";
@use "sass:string";

/// Repeat a string a number of times and return the result separated by a delimiter
/// @param {String} $str - The string to repeat
/// @param {Number} $times - The number of times to repeat the string
/// @param {String} $delimiter - The delimiter to separate the repeated strings (default: " ")
/// @return {String} - The repeated string
@function repeat($str, $times, $delimiter: " ") {
    $result: "";

    @for $i from 1 through $times {
        @if $result != "" {
            $result: $result + $delimiter + $str;
        } @else {
            $result: $str;
        }
    }

    @return $result;
}


@function replace($search, $replace, $string) {
    $index: string.index($string, $search);
    @if $index {
        @return string.slice($string, 1, $index - 1) + $replace + replace($search, $replace, string.slice($string, $index + string.length($search)));
    }
    
    @return $string;
}
