@use "sass:math";

%square {
    aspect-ratio: 1 / 1;

}
@mixin fillCircle($color) {
    %after {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            background-color:  $color;
            height: var(--size);
            width: calc(var(--size) / 2);
            border-radius: 100px 0 0 100px;
        }
    }
    %span {
        background-color: $color;        
    }
    @for $i from 1 through 10 {
        $val: $i * 0.5;
        &[data-val="#{$val}"] {
            @for $j from 1 through floor($val) {
                span:nth-child(#{$j}) {
                    @extend %span;
                }
            }
            @if $val != ceil($val) {
                span:nth-child(#{ceil($val)}) {
                    @extend %after;
                    
                }
            }
        }
    }
}
