@charset "UTF-8";

@use "_variables" as lib;
@use "sass:math";
@import "base/_base";
@import "./utilities";

$box_shadow_color: lib.color("background", '500');
$background: lib.color("background", '50');
$background_val: lib.color("background", '50', false);
@include lib.generate_colors;
@include lib.generate_colors((
    main: (primary, 800),
    secondary: (secondary, 800),
    "background": ("background", 50),
    aux: #e7d192,
    "gray": ("background", 600),
    light-gray: ("background", 300),
    dark-gray: ("background", 700)
));


@include lib.lay-flex_bem;
@include lib.font-gen_font_size;

@import "components/_cards";
@import "components/_tags";
@import "base/_header";
@import "components/_nav";
@import "base/list";
@import "base/projects";

.body {
    background-color: lib.color("background");
    @include lib.lay-flex(col);
    @include lib.w-('full');
    @include lib.lg {
        @include lib.max-w-('lg');
        @include lib.m-(auto);
        @include lib.p-(0);        
        @include lib.lay-grid($rows: 3, $eqcols: 8);
        grid-template-areas: lib.str-repeat("nav", 8)
                             lib.str-repeat("header", 8)
                             lib.str-repeat("body", 8);
                             
        @include lib.gap(4)
    }
    @include lib.xxl {
        @include lib.max-w-('xl');
    }
}

.wrap {
    @include lib.m-(6, 't');
    @import "base/home";    
    @include lib.lg {
        grid-area: body;
        padding: 0;
    }
    @include lib.xxl {
      display: grid;
      &.home {
          grid-template-areas: lib.str-repeat("summary", 8)
                                             '#{lib.str-repeat("experience", 4)} #{lib.str-repeat("education", 4)}';
          grid-template-columns: subgrid;
          .summary {
              grid-area: summary;
          }
          .content {
              grid-area: education;
              &:nth-of-type(2) {
                  grid-area: experience;
              }
          }
      }
    }
    &.projects {
        /*
        @include card;
        strong {
            color: lib.color(primary, 500);
        }
        .budgets>ul {
            @include lib.m-(8, 'tb');
            @include lib.lay-flex(row);
            @include lib.gap(2);
            li {
                list-style: none;
            }
        }
        a {
            color: lib.color(secondary);
            font-weight: bold;
            &:hover {
                text-decoration: underline;
            }
        }
        */
    }
}
